.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo

__pycache__/

backend/venv/
backend/.env.dev
backend/.env.prod

*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/

*.log
*.pot
*.pid

htmlcov/
.coverage
.coverage.*

.ipynb_checkpoints/
